<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>New Person</title>
</head>
<body>
<form th:object="${newPerson}" th:action="@{/views/person/add}" method="post">>
    <p>Last name</p>
    <input type="text" th:field="*{lastName}" />
    <p>First name</p>
    <input type="text" th:field="*{firstName}"/>
    <p>Patronymic</p>
    <input type="text" th:field="*{patronymic}"/>
    <p>Email</p>
    <input type="text" th:field="*{email}"/>
    <p>Year of study</p>
    <input type="text" th:field="*{yearOfStudy}"/>
    <p>Internship</p>
    <input type="text" th:field="*{internship}"/>
    <p>Practice</p>
    <input type="text" th:field="*{practice}"/>
    <p>Comment</p>
    <input type="text" th:field="*{comment}"/>
    <button type="submit">Submit</button>
</form>
</body>
</html>