<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>New Person</title>
</head>
<body>
<form th:object="${newPerson}" th:action="@{/views/person/add}" method="post">
    <p>Last name  <input attachmentType="text" th:field="*{lastName}"/></p>
    <p>First name  <input attachmentType="text" th:field="*{firstName}"/></p>
    <p>Patronymic  <input attachmentType="text" th:field="*{patronymic}"/></p>
    <p>Email  <input attachmentType="text" th:field="*{email}"/></p>
    <p>Year of study   <input attachmentType="text" th:field="*{yearOfStudy}"/></p>
    <p>Internship  <input attachmentType="text" th:field="*{internship}"/></p>
    <p>Practice  <input attachmentType="text" th:field="*{practice}"/></p>
    <p>Comment  <textarea attachmentType="text" th:field="*{comment}"/></p>
    <button attachmentType="submit">Submit</button>
</form>
</body>
</html>