<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Person editing</title>
</head>
<body>
<div>
    <form th:object="${person}" th:action="@{'/views/person/edit/' + ${person.id}}" method="post">
        <p>Last name  <input attachmentType="text" th:field="*{lastName}"/></p>
        <p>First name  <input attachmentType="text" th:field="*{firstName}"/></p>
        <p>Patronymic  <input attachmentType="text" th:field="*{patronymic}"/></p>
        <p>Email  <input attachmentType="text" th:field="*{email}"/></p>
        <p>Year of study   <input attachmentType="text" th:field="*{yearOfStudy}"/></p>
        <p>Internship  <input attachmentType="text" th:field="*{internship}"/></p>
        <p>Practice  <input attachmentType="text" th:field="*{practice}"/></p>
        <p>Comment  <textarea attachmentType="text" th:field="*{comment}"/></p>
        <button attachmentType="submit">Submit</button>
    </form>
</div>
</body>
</html>