<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Homepage</title>
</head>
<body>
<table>
    <tr>
        <td>Name</td>
        <td>Age</td>
    </tr>
    <tr th:each="person : ${persons}">
        <td th:text="${person.firstName}">Name</td>
        <td th:text="${person.age}">Person age</td>
        <td><a th:href="${'/views/person/' + person.id}">View info</a></td>
        <td><a th:href="${'/views/person/delete/' + person.id}">Delete</a></td>
    </tr>
    <tr>
        <td><a th:href="${'/views/person/new/'}">Add</a></td>
    </tr>
</table>
</body>
</html>