<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Homepage</title>
    <style>
    table, th, td {
        border: 1px solid black;
        border-collapse: collapse;
    }
    th, td {
        padding: 15px;
    }

</style>
</head>
<body>
<table border="2px solid black" style="border-collapse: collapse;">
    <div>
        <tr>
            <td>Name</td>
            <td>Email</td>
            <td>Year of study</td>
            <td>Internship</td>
            <td>Practice</td>
            <td colspan="3" align="center">Actions</td>
        </tr>
    </div>
    <div>
        <tr th:each="person : ${persons}">
            <td th:text="${person.fullName()}">Name</td>
            <td th:text="${person.getEmail()}">Email</td>
            <td th:text="${person.getYearOfStudy()}">Year of study</td>
            <td th:text="${person.getInternship()}">Internship</td>
            <td th:text="${person.getPractice()}">Practice</td>
            <td>
                <form th:action="@{'/views/person/view/' + ${person.id}}" th:method="get">
                    <button type="submit">VIEW</button>
                </form>
            </td>
            <td>
                <form  th:action="@{'/views/person/edit/' + ${person.id}}" th:method="put">
                    <a th:href="${'/views/person/edit/' + person.id}">EDIT</a>
                </form>
            </td>
            <td>
                <form th:action="@{'/views/person/delete/' + ${person.id}}" th:method="delete">
                    <button type="submit">DELETE</button>
                </form>
            </td>
        </tr>
    </div>
</table>
</body>
</html>