<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Person editing</title>
</head>
<body>
<div>
    <form th:action="@{'/views/person'}" th:method="get">
        <button type="submit">MAIN PAGE</button>
    </form>
    <form  th:action="@{'/views/person/edit/' + ${person.id}}" th:method="get">
        <button type="submit">EDIT</button>
    </form>
    <form th:action="@{'/views/person/delete/' + ${person.id}}" th:method="delete">
        <button type="submit">DELETE</button>
    </form>
</div>
<h1>Person info</h1>
<div>
    <p>Name  <p th:text="${person.fullName()}"></p></p>
    <p>Email <p th:text="${person.getEmail()}"></p></p>
    <p>Year of study  <p th:text="${person.getYearOfStudy()}"></p></p>
    <p>Internship  <p th:text="${person.getInternship()}"></p></p>
    <p>Practice  <p th:text="${person.getPractice()}"></p></p>
    <p>Comment  <p th:text="${person.getComment()}"></p></p>
    <table border="2px solid black" style="border-collapse: collapse;">
        <div>
            <tr>
                <td>Name</td>
                <td colspan="2" align="center">Actions</td>
            </tr>
        </div>
        <div>
            <tr th:each="attachment : ${attachments}">
                <td th:text="${attachment.getFilename()}">Name</td>
                <td>
                    <form  th:action="@{'/views/person/' + ${person.id} + '/downloadfile/' + ${attachment.id}}" th:method="get">
                        <button type="submit">DOWNLOAD</button>
                    </form>
                </td>
                <td>
                    <form th:action="@{'/views/person/' + ${person.id} + '/deletefile/' + ${attachment.id}}" th:method="delete">
                        <button type="submit">DELETE</button>
                    </form>
                </td>
            </tr>
        </div>
    </table>
    <table>
        <div>
            <tr>
                <form th:action="@{'/views/person/' + ${person.id} + '/uploadfile'}" th:method="post" enctype="multipart/form-data">
            <tr><td>File to upload:</td>
                <td><input type="file" name="file" /></td>
                <td><input type="submit" value="Upload" /></td></tr>
            </form>
            </tr>
        </div>
    </table>
</div>
</body>
</html>